#form {
	font-family: "Trebuchet MS";
	font-size: 80%;
	position: absolute;
	right: 600px;
	top: 100px;
	width: 300px;
}

#form input {
	margin-left: 9em;
	position: relative;
	line-height: 1.4em;
	margin-bottom: .2em;
	left: 50px;
}

#form label {
	position: absolute;
	padding-top: .2em;
}

#form a {
	position: relative;
	left: 80px;
}

.header {
	background-color: #8a8fad;
	width: 960px;
	height: 150px;
}

.header img {
	width: 300px;
	margin-top: 50px;
	margin-left: 30px;
}

.menu {
	background-color: black;
	color: white;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
}

.content {
	padding: 10px;
	float: left;
	width: 960px;
}

.footer {
	background-color: #8a8fad;
	height: 40px;
	line-height: 40px;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
	width: 930px;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu ul li {
	display: inline;
	margin-right: 10px;
}

.menu ul li a {
	color: white;
}

.menu ul li a:hover {
	color: white;
	text-decoration: underline !important;
}

.menu ul li a:active {
	color: blue;
	text-decoration: underline !important;
}

.menu ul li a:link {
	color: white;
	text-decoration: none;
}

.menu ul li a:visited {
	color: white;
	text-decoration: none;
}
.menu ul { padding:1; margin:1; list-style:none; } 
.menu li { float:left; position:relative; font-size:12px; padding-right:100; display:block;} 
.menu li ul { display:none; position:absolute; background:black; height:auto; width:14em;} 
.menu li:hover ul{ display:block !important; background:black; height:auto; width:14em; } 
.menu li ul li{ clear:both; border-style:none;font-size: 12px; padding-left: 10px;}

.container {
	border: 1px solid black;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.left{
	float: left;
	width: 50%;
}

.right{
	float: right;
	width: 50%;
}

.box{
	border: 1px solid black;
	width: 400px;
	padding: 5px;
}

.header input{
	margin-left: 9em;
    position: relative;
    line-height: 1.4em;
    margin-bottom: .2em;
    left:50px;
}
.header label{
	position: absolute;
    padding-top: .2em;
}
.header a{
    position: relative;
    left:100px;
}

.header form{
	float: right;
	width: 410px;
}
