<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	
	<servlet>
		<servlet-name>Hoofdmenu</servlet-name>
		<servlet-class>Servlet.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hoofdmenu</servlet-name>
		<url-pattern>/Hoofdmenu.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FactuurbetalingBlokkeren Servlet</servlet-name>
		<servlet-class>HerinneringsbrievenServlets.FactuurbetalingBlokkerenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FactuurbetalingBlokkeren Servlet</servlet-name>
		<url-pattern>/FactuurbetalingBlokkeren.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PrijsAanpassen Servlet</servlet-name>
		<servlet-class>VoorraadbeheerServlets.PrijsAanpassenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>PrijsAanpassen Servlet</servlet-name>
	<url-pattern>/PrijsAanpassenServlet.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Klantenbinding Servlet</servlet-name>
		<servlet-class>KlantenbindingServlets.KlantenbindingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Klantenbinding Servlet</servlet-name>
		<url-pattern>/KlantenbindingServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Werkplaats</servlet-name>
		<servlet-class>Servlet.Werkplaats</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Werkplaats</servlet-name>
		<url-pattern>/Werkplaats.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Registreer Servlet</servlet-name>
		<servlet-class>InloggenServlets.RegistreerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registreer Servlet</servlet-name>
		<url-pattern>/RegistreerServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Klus Toevoegen Servlet</servlet-name>
		<servlet-class>OnderhoudsbeurtServlets.KlusToevoegenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Klus Toevoegen Servlet</servlet-name>
		<url-pattern>/KlusToevoegenServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login Servlet</servlet-name>
		<servlet-class>InloggenServlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login Servlet</servlet-name>
		<url-pattern>/LoginServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout Servlet</servlet-name>
		<servlet-class>InloggenServlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout Servlet</servlet-name>
		<url-pattern>/LogoutServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckLogin Servlet</servlet-name>
		<servlet-class>Servlet.CheckLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckLogin Servlet</servlet-name>
		<url-pattern>/CheckLoginServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PrijsBerekenen Servlet</servlet-name>
		<servlet-class>BetalingFacturatieServlets.PrijsBerekenenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrijsBerekenen Servlet</servlet-name>
		<url-pattern>/PrijsBerekenenServlet.do</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Voorraad toevoegen</servlet-name>
		<servlet-class>VoorraadbeheerServlets.VoorraadToevoegenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Voorraad toevoegen</servlet-name>
		<url-pattern>/VoorraadToevoegenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Voorraad wijzigen</servlet-name>
		<servlet-class>VoorraadbeheerServlets.VoorraadWijzigenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Voorraad wijzigen</servlet-name>
		<url-pattern>/VoorraadWijzigenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Minimale voorraad wijzigen</servlet-name>
		<servlet-class>VoorraadbeheerServlets.MinimaleVoorraadWijzigenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Minimale voorraad wijzigen</servlet-name>
		<url-pattern>/MinimaleVoorraadWijzigenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Voorraad verwijderen</servlet-name>
		<servlet-class>VoorraadbeheerServlets.VerwijderVoorraadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Voorraad verwijderen</servlet-name>
		<url-pattern>/VerwijderVoorraadServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>In bestelling</servlet-name>
		<servlet-class>VoorraadbeheerServlets.BestellingOphalenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>In bestelling</servlet-name>
		<url-pattern>/BestellingOphalenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Weekplanning Servlet</servlet-name>
		<servlet-class>OnderhoudsbeurtServlets.WeekplanningServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Weekplanning Servlet</servlet-name>
		<url-pattern>/WeekplanningServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Herinneringsbrief toevoegen</servlet-name>
		<servlet-class>HerinneringsbrievenServlets.BrievenAanmakenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Herinneringsbrief toevoegen</servlet-name>
		<url-pattern>/BrievenAanmakenServlet.do</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>
			MyServletContextListener.MyServletContextListener
		</listener-class>
	</listener>
	
</web-app>
